<div class="massrel-status massrel-status-twitter" data-massrel-network="twt" data-massrel-id="{{status.id_str}}">
  <a href="https://twitter.com/{{status.user.screen_name}}" class="massrel-avatar"><img src="{{status.user.profile_image_url}}" alt="" /></a>
  <div class="massrel-content">
    <div class="massrel-author">
      <a href="https://twitter.com/{{status.user.screen_name}}" class="massrel-screen-name">{{status.user.screen_name}}</a>
      <span class="massrel-real-name">{{status.user.name}}</span>
    </div>
    <div class="massrel-text">{{{autoLink status.text}}}</div>
    <div class="massrel-meta">
      {{#if intents}}
      <div class="massrel-intents">
         <a href="https://twitter.com/intent/tweet?in_reply_to={{status.id_str}}" class="massrel-intent massrel-intent-reply">reply</a>
         <a href="https://twitter.com/intent/retweet?tweet_id={{status.id_str}}" class="massrel-intent massrel-intent-retweet">retweet</a>
         <a href="https://twitter.com/intent/favorite?tweet_id={{status.id_str}}" class="massrel-intent massrel-intent-favorite">favorite</a>
      </div>
      {{/if}}
      <div class="massrel-permalink">
        <a href="https://twitter.com/{{status.user.screen_name}}/status/{{status.id_str}}" class="massrel-twitter-logo"><img src="../../templates/img/bird.png" /></a>
        <a href="https://twitter.com/{{status.user.screen_name}}/status/{{status.id_str}}" data-date="{{status.created_at}}" class="massrel-created-at massrel-relative-date">{{prettyDate status.created_at}}</a>
      </div>
      {{#if retweet}}
      <div class="massrel-retweeted-by"><img src="./retweet_hover.png" alt="retweeted" /> by <a href="https://twitter.com/{{retweeted_by_user.screen_name}}" class="massrel-retweeted-by-user">{{retweeted_by_user.screen_name}}</div>
      {{/if}}
    </div>
  </div>
</div>
