<div class="massrel-status massrel-status-facebook" data-massrel-network="fb" data-massrel-id="{{status.facebook_id}}">
  <a href="http://www.facebook.com/profile.php?id={{status.from.id}}&v=wall" class="massrel-avatar"><img src="http://graph.facebook.com/{{status.from.id}}/picture" alt="" /></a>
  <div class="massrel-content">
    <div class="massrel-author">
      <a href="http://www.facebook.com/profile.php?id={{status.from.id}}&v=wall" class="massrel-screen-name">{{status.from.name}}</a>
    </div>
    <div class="massrel-text">{{{autoLink status.message}}}</div>
    <div class="massrel-meta">
      <div class="massrel-permalink">
        <a href="http://www.facebook.com/profile.php?id={{status.from.id}}&v=wall" class="massrel-network massrel-network-facebook"><img src="./img/source_facebook.png" alt="" class="massrel-network-logo"/>via Facebook</a>
      </div>
    </div>
  </div>
</div>
